.body {
  text-align: center;
}
.about {
  margin: 70px;
}
.devCard {
  display: inline-block;
  margin: 70px;
}
.profileImg {
  margin: 20px;
  border-radius: 50%;    
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.role {
  font-style: italic;
}
